/* Header */
.header {
     background: var(--main-light-color);
     z-index: 2;
     height: 700px;
}

/* Container */
.container {
     margin: 0 auto;
}

/* Big Circle Animation */
.big-circle {
     /* z-index: -1;
     position: absolute;
     left: -100px;
     top: -121px;
     max-width: 100%;
     height: auto; */
     animation: big-circle-move 10s infinite 5s;
}

@keyframes big-circle-move {

     0%,
     100% {
          transform: translate(0, 0);
     }

     50% {
          transform: translate(-20px, -90px);
     }
}

/* Small Circle Animation */
.small-circle {
     /* position: absolute;
     z-index: -1;
     left: 255px;
     top: 200px;
     max-width: 100%;
     height: auto; */
     animation: small-circle-move 10s infinite 5s;
}

@keyframes small-circle-move {

     0%,
     100% {
          transform: translate(0, 0);
     }

     50% {
          transform: translate(10px, 40px);
     }
}

/* Text Content Animation */
.text-content {
     animation: fadeInUp 1s;
}

@keyframes fadeInUp {
     0% {
          transform: translate(0, 100px);
          opacity: 0;
     }

     100% {
          transform: translate(0, 0);
          opacity: 1;
     }
}

.heading-title {
     font-weight: 600;
     font-size: 2rem;
     line-height: 2.5rem;
     color: var(--main-text-color);
}


/* Button Content */
.button-content {
     display: flex;
     align-items: center;
     margin-top: 1.5rem;
     z-index: 1;
     animation: fadeInUp 1s;
}

.button {
     display: flex;
     background: transparent;
     padding: 0.6rem;
     position: relative;
}

.convolink {
     display: flex;
     padding: 1rem 1.714rem;
     background: transparent;
     border-radius: 0.571rem;
     text-decoration: none;
     color: var(--main-text-color);
     font-weight: 500;
     font-size: 1rem;
     border: 1px solid var(--main-text-color);
     transition: all 0.3s;
}

.convolink:hover .arrow {
     opacity: 0;
}

.arrow {
     margin-left: 1.142rem;
     transition: all 0.3s 0.2s;
     opacity: 1;
}

.arrow-hide {
     position: absolute;
     top: 28px;
     right: 45px;
     margin-left: 1.142rem;
     opacity: 0;
     transition: all 0.3s;
}

/* Star Animation */
.star {
     position: absolute;
     top: 20%;
     left: -6%;
     animation: fadeInStar 2.5s;
     max-width: 100%;
     height: auto;
}

@keyframes fadeInStar {

     0%,
     50% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

/* Code Animation */
.code {
     position: absolute;
     top: 18%;
     left: 35%;
     animation: fadeInCode 2.3s;
     max-width: 100%;
     height: auto;
}

@keyframes fadeInCode {

     0%,
     80% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

/* Hero Visual Animation */
.hero-visual {
     animation: fadeInImg 1s;
     max-width: 100%;
     height: auto;
}

@keyframes fadeInImg {

     0%,
     70% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

/* Brackets Animation */
.brackets {
     position: absolute;
     bottom: 32%;
     left: -6%;
     animation: fadeInStar 2.5s;
     max-width: 100%;
     height: auto;
}

/* Colon Animation */
.colon {
     position: absolute;
     bottom: 19%;
     left: -10%;
     animation: fadeInColon 2.5s;
     max-width: 100%;
     height: auto;
}

@keyframes fadeInColon {

     0%,
     90% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

/* Question Animation */
.question {
     position: absolute;
     bottom: 21%;
     max-width: 100%;
     right: 1rem;
     height: auto;
     animation: fadeInImg 2s;
}