.termional {
     margin-top: 4rem;
     background: url('https://bajratechnologies.com/web/image/34906/testimonials%20bg.png') no-repeat center center;
     background-size: cover;
     padding: 2rem;
     border-radius: 10px;
}

.terminoal_icon {
     color: var(--main-color);
     font-size: 6rem;
     margin-top: -4rem;
     opacity: 0.3;
     margin-right: -2rem;
     rotate: -5deg;

}

.slick-dots {
     bottom: -30px;
}

.slick-dots li button:after {
     font-size: 30px;
     color: var(--main-color);
     opacity: 0.5;
}

.slick-dots li button:before {
     font-size: 12px;
     color: var(--secondary-color);
     opacity: 0.3;
}

.slick-dots li.slick-active button:before {
     color: var(--main-color);
     opacity: 1;
     width: 30px;
}


.slick-dots li {
     margin: 0 5px;
}

@media (max-width: 568px) {
     .termional {
          padding: 2rem;
     }

     .terminoal_icon {
          color: var(--main-color);
          font-size: 3rem;
          margin-top: -2rem;
          opacity: 0.3;
          margin-right: -2rem;
          rotate: -5deg;

     }
}