@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --font-family: "Poppins", sans-serif;
     --main-color: #be273a;
     --main-light-color: linear-gradient(180deg, #BE263B 0%, #64141F 53.32%, #370B11 103.73%, #000 165.43%);
     --secondary-color: #808080;
     --white: #ffffff;
     --black: #000000;
}

.bg-main {
     background-color: var(--main-color);
}

.text-main {
     color: var(--main-color);
}

.span {
     color: var(--main-color);
}

.fadeRight {
     animation: fadeRight 1s forwards;
}

@keyframes fadeRight {
     0% {
          transform: translateX(500px);
     }

     100% {
          transform: translateX(0);
     }
}

.fadeLeft {
     animation: fadeLeft 1s forwards;
}

@keyframes fadeLeft {
     0% {
          transform: translateX(-500px);
     }

     100% {
          transform: translateX(0);
     }
}


.footer {
     background: var(--main-light-color);
     z-index: 2;
}