.s_process {
     padding: 5rem 0 7.928rem 0;
}

.oe_img_bg {
     background-size: cover;
     background-repeat: no-repeat;
}

.pt0 {
     padding-top: 0px !important;
}

section {
     display: block;
}

/* top */
.s_title_paragraph {
     text-align: center;
     padding: 7.428rem 0 0 0;
}

.fadeInUp {
     animation: fadeInUp 1s;
}

@keyframes fadeInUp {
     0% {
          transform: translate(0, 100px);
          opacity: 0;
     }

     100% {
          transform: translate(0, 0);
          opacity: 1;
     }
}

container {
     max-width: 1140px;
}

.s_title_paragraph h5 {
     color: #BE273A;
     font-size: 1.571rem;
     font-weight: 400;
     line-height: normal;
}

.s_title_paragraph h2 {
     color: #090808D9;
     font-size: 2.857rem;
     font-weight: 600;
     line-height: 3.642rem;
     padding: 8px 0px 17px 0px;
}

.s_title_paragraph p {
     color: #090808B2;
     font-size: 1.142rem;
     font-weight: 400;
     line-height: 2.285rem;
     padding: 0 11.5rem 0 11.5rem;
}

/* bottom */
.process-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
}

.process-top-bottom {
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
     min-width: 400px;
}

.s_process .process-wrapper .process-top-bottom .text-content-top {
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     width: 100%;
}

.s_process .process-wrapper .fadeandshow {
     animation: fadeandshow 1s linear forwards;
}

.s_process .process-wrapper .process-sections {
     opacity: 0;
}

@keyframes fadeandshow {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

.text-content {
     width: 221px;
     text-align: center;
}

.s_process .process-wrapper .process-top-bottom .text-content-top .text-content .num {
     font-size: 1.571rem;
     font-weight: 400;
     line-height: normal;
     color: #BE263B;
     margin-bottom: 0;
     margin-top: 1.214rem;
}

.process-title {
     font-size: 1.285rem;
     font-weight: 600;
     line-height: 1.857rem;
     color: #090808D9;
     text-transform: uppercase;
}

.s_process .process-wrapper .process-top-bottom .text-content-top .text-content p {
     font-size: 0.928rem;
     font-weight: 400;
     line-height: 1.714rem;
     color: #090808D9;
}

.s_process .process-wrapper .process-top-bottom .image-container-wrapper {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
}

.s_process .process-wrapper .process-top-bottom .image-container-wrapper .image-content {
     display: flex;
     align-items: center;
}

img {
     vertical-align: middle;
     border-style: none;
}

.s_process .process-wrapper .process-top-bottom .bottom-curve {
     position: absolute;
     top: 50%;
     margin-left: 100%;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom .text-content {
     width: 221px;
     text-align: center;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom {
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     flex-direction: column;
     align-items: flex-end;
     justify-self: center;
     width: 100%;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom .text-content {
     width: 221px;
     text-align: center;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom .text-content .num {
     font-size: 1.571rem;
     font-weight: 400;
     line-height: normal;
     color: #BE263B;
     margin-bottom: 0;
     margin-top: 1.214rem;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom .text-content .process-title {
     font-size: 1.285rem;
     font-weight: 600;
     line-height: 1.857rem;
     color: #090808D9;
     text-transform: uppercase;
}

.s_process .process-wrapper .process-top-bottom .text-content-bottom .text-content p {
     font-size: 0.928rem;
     font-weight: 400;
     line-height: 1.714rem;
     color: #090808D9;
}