.jobs {
     position: relative;
     background: url(../../assets/Jobs/JobHeaderBg.png) rgba(0, 0, 0, 0.5);
     background-blend-mode: multiply;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     /* padding: 17.85rem 0 11.71rem 0; */
     top: -708px;
     margin-bottom: -78px;
     overflow: hidden;
     /* padding: 4.571rem 0; */
     top: 0;
     margin-bottom: 0;
}

.jobs-convolink {
     display: flex;
     padding: 1rem 1.714rem;
     background: transparent;
     border-radius: 0.571rem;
     text-decoration: none;
     color: var(--main-text-color);
     font-weight: 500;
     font-size: 1rem;
     border: 1px solid var(--main-text-color);
     transition: all 0.3s;
     background: var(--main-color);
}