.jobs {
     position: relative;
     background: url(https://bajratechnologies.com/web/image/38133/bg%20%281%29.png) rgba(0, 0, 0, 0.5);
     background-blend-mode: multiply;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     /* padding: 17.85rem 0 11.71rem 0; */
     top: -708px;
     margin-bottom: -78px;
     overflow: hidden;
     /* padding: 4.571rem 0; */
     top: 0;
     margin-bottom: 0;
}