.hover-content {
     background-color: var(--main-color);
     color: var(--white);
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     transform: rotateY(-180deg);
     transition: transform 0.5s ease; 
 }
 
 .card-hover {
     position: relative;
     perspective: 1000px;
 }
 
 .card-hover:hover .default-conten{
     transform: rotateY(-180deg);
     /* transition: transform 0.5s ease;  */
 }
 
 .card-hover:hover .hover-content {
     display: flex;
     transform: rotateY(0deg);
     /* transition: transform 0.5s ease 0.5s;  */
 }
 