.custom-border {
     height: 100px;
     width: 100px;
     border-color: var(--main-color);
     background: var(--main-light-color);
}

@keyframes zoom-out {
     from {
          transform: scale(0.8);
     }

     to {
          transform: scale(1);
     }
}

.zoom-out {
     animation: zoom-out 3s ease-out;
}

.images {
     width: 900px;
     height: 500px;
}